<script>
  export let city = "Baltimore";
  export let scale = "per line";
//click_scale=scaling
  const clickScaling = (newScale) => {
    scale = newScale;
  };

  const clickCity = (newCity) => {
    city = newCity;
  };
</script>



    <!--Radio buttons for scaling-->
  
      <p>Scale:</p>
         <label>
          <input
          name="1"
          type="radio"      
          on:click={() => clickScaling("per line")}
          checked
          >
            Per line
          </label>
          
           <label>
          <input
            name="1"
            type="radio"         
            on:click={() => clickScaling("across all")}
          >
            Across all lines
           </label>
   
    
   

    <!--Radio buttons for city-->
    
      <p>Location:</p>
   


     <label>
          <input      
            type="radio"
            name="2"         
            checked
            on:click={() => clickCity("Baltimore")}
          />         
            Baltimore
          </label>



        <label >
          <input
            type="radio"
            name="2"
            on:click={() => clickCity("Chicago")}
          />
            Chicago
          </label>
    
           <label >
          <input
            type="radio"
            name="2"
            on:click={() => clickCity("Los Angeles")}
          />       
            Los Angeles
          </label>

       
    

 