<script>
  import { onMount } from "svelte";

  // Properties to export
  export let data = [];
  export let width;
 
  export let maxUsage;
  //heatingPoints:HP
  //coolingPoints:cp
  export let hp =[];
  export let cp =[];
  export let innerHeight;
  export let innerWidth;
  

  // Find values the values needed to place circles correct, and get the right size
 let cx_Chicago =  (3 * innerWidth) / 16;
 let cx_Baltimore = innerWidth / 2;
 let cx_LA=(13 * innerWidth) / 16;
 let cy = (innerHeight * 1.7) / 3;
 let centerCircleY = (innerHeight * 1.7) / 3;

  const GetCx = () => {
    let cx=0
    if (data[0].city == "Chicago") {
      cx = cx_Chicago;
    } else if (data[0].city == "Baltimore") {
      cx = cx_Baltimore;
    } else if (data[0].city == "Los Angeles") {
      cx = cx_LA;
    }
    return cx;
  };



  let circleRadius = width/8;
  let cx = GetCx();
  let circleCenterX=GetCx()




  // Create points for  polygon
  //  length of the plot 
  let length = [];
  //findPolygonPoints pp
  const pp = (type) => {
    data.forEach((d) => {
      if (type == "heating") {
        length = (d.heating * circleRadius) /  maxUsage;

      } else {
        length = (d.cooling * circleRadius) / maxUsage ;
      }
      
      let angle = ((d.day_of_year ) / 365) * 2 * 3.14-3.14/2
      let px = length * Math.cos(angle) + circleCenterX;
      let py = length * Math.sin(angle) + centerCircleY;
      if (type == "heating") {
        hp += `${px},${py} `;
      } else {
        cp += `${px},${py} `;
      }
    });
  };
  pp("heating");
  pp("cooling");
  $:console.log((cp))
</script>

<svg>
  <!--The thing for ID is neccessary to find the length of the text, which is needed to center it-->

  <text
  x={cx_Baltimore-10}
  y={20}
  style="font-size:10px">Baltimore</text
>

<text
x={cx_Chicago-10}
y={20}
style="font-size:10px">Chicago</text
>

<text
x={cx_LA-10}
y={20}
style="font-size:10px">LosAngles</text
>
  
  <circle
    {cx}
    {cy}
    r={circleRadius}
    stroke="black"
    fill="white"
    class="customcircle"
  />

  <!--Numbers around the circle-->
  <text x={circleCenterX + (circleRadius + 3)} y={centerCircleY + 6}>3</text>
  <text x={circleCenterX - 3} y={centerCircleY - (circleRadius + 3)}>0</text>
  <text x={circleCenterX - 3} y={centerCircleY + circleRadius + 15}>6</text>
  <text x={circleCenterX - circleRadius - 12} y={centerCircleY + 6}>9</text>

  <!--Axis inside circle-->
  <line
    x1={circleCenterX}
    x2={circleCenterX}
    y1={centerCircleY - circleRadius}
    y2={centerCircleY + circleRadius}
    style="stroke-width:1; stroke:black"
  />
  <line
    x1={circleCenterX - circleRadius}
    x2={circleCenterX + circleRadius}
    y1={centerCircleY}
    y2={centerCircleY}
    style="stroke-width:1; stroke:black"
  />
 

  <!--Polygons-->
  <polygon points={cp} style="stroke:blue; fill:blue; opacity:0.5" />
  <polygon points={hp} style="stroke:red; fill:red; opacity:0.5" />


</svg>

<style>
</style>
