<script>
  import { max } from "d3-array";
  import { scaleLinear } from "d3-scale";

  // Properties to export
  // buildingType =BT 
  export let BT; // 16 types exist
  export let innerWidth; // Width 
  export let index; // Number of the  line
  export let datapoints; // Data for one city and one building type
  //maxHeatingEnergyUsage =maxHeatingEnergy
  export let maxHeatingEnergyUsage; 
  export let scale;

  // Variables to draw lines/paths
  //centerY--heightOfEachY
  // start_x=leftX
  // end_x=right_x
  const heightOfEachY = 20 * index + 10; //set the height of y 
  const leftX = 20;
  const rightX = innerWidth - 100;
  const numOfDataPoints = Object.keys(datapoints).length;
  $: console.log(numOfDataPoints)

  // Scales
//  let perLineScale;
//  let acrossAllLinesScale;
// perLineScale=scale_per_line
  $: scalePerLine = scaleLinear()
    .domain([0, max(datapoints, (d) => d.total_heating_energy)])
    .range([1, 10]);
// scaleAllLines= acrossAllLinesScale
  $: scaleAllLines = scaleLinear()
    .domain([0, maxHeatingEnergyUsage])
    .range([1, 10]);
//x_scale=scale_x
  let scaleX = scaleLinear()
    .domain([0, numOfDataPoints]) // [0, num of obs]
    .range([leftX, rightX]);

  // Create path 
  // 核心算法
  let pathForLine = [];
  $: {
    pathForLine = []; 
    datapoints.forEach((d, i) => {
      let fat = 1;
      if (scale == "across all") {
        fat = scaleAllLines(d.total_heating_energy);
      } else {
        fat = scalePerLine(d.total_heating_energy);
      }
      if (i == 0) {
        pathForLine += `M${scaleX(i)} ${heightOfEachY - fat} `;
      } else {
        pathForLine += `L${scaleX(i)} ${heightOfEachY - fat}`;
      }
    });
    datapoints
    .slice()
    //.reverse()
      .forEach((d, i) => {
        let fat = 1;
        if (scale == "across all") {
          fat = scaleAllLines(d.total_heating_energy);
        } else {
          fat = scalePerLine(d.total_heating_energy);
        }
        pathForLine += `L${scaleX(numOfDataPoints - 1 - i)} ${
          heightOfEachY + fat
        }`;
      });
    pathForLine += "Z"; // Close pathForLine
  }
</script>


<svg>
  <path d={pathForLine} />
  <text x={rightX} y={heightOfEachY + 3} style="font-size:10">{BT}</text>
</svg>
