<script>
  import { scaleLinear } from "d3-scale";
  import {scaleLog} from"d3-scale";
  export let datapoints;
 // export let height;
  export let innerHeight;
  export let TheLengthOfDataWithWeek48=168;
  export let maxEnergyConsumption;
  export let week=datapoints[0].week;
  export let innerWidth;
 // export let innerHeight;

// set y1 y2 x1 x2 to construct the path of the leaf
// y1 control the starting point 
// y2 control the end point 


  // Variables for the line in the center of the leaf
  // y1: Subtract 75 to get up from the bottom. Do week-48 so that the
  // bottom leaf ends up at exactly 50.
  //const y1 = height - 120 - (week - 48) * 80;
  const y1 = innerHeight - 120 - (week - 48) * 80;
  // y2: want to go 50 up when the leaf is whole (there is 7 days in the week),
  // Otherwise a funtion of this must be used.
  // heightOfLeaf= heightFromCenter 
  // height_of_length_generator
  // i = point_Index
  const heightOfLeafGenerator = (i ) => (i  / TheLengthOfDataWithWeek48) * 30;
 // const heightOfLeaf= 50;
 // we should use minus since the y is from top to buttom
  const y2 = y1 - heightOfLeafGenerator(datapoints.length);
  // x1: is in the center
 // const x1 = width / 2;
  const x1 =innerWidth / 2;
  // x2: Depends on the number of days (are fewer days in the last week).
  // It also depends on wether the week number is odd or even. Even weeks
  // should be to the right (x2 > x1) while odd weeks should be on the
  // right (x2 < x1).
  // lengthOfLeaf
  const lengthOfLeafGenerator = (i ) => (i  / TheLengthOfDataWithWeek48) * 200;
 // const lengthOfLeaf = 60
  const leafLength = lengthOfLeafGenerator(datapoints.length);

  const findx2 = () => {
    let x2=0
    if ( datapoints[0].week % 2 === 0) {
      x2 = x1 + leafLength;
    } else {
      x2 = x1 - leafLength;
    } 
    return x2;
  };
  let x2 = findx2();

  $: console.log(x1)
  $: console.log(x2)
  $: console.log(y1)
  $: console.log(y2)
  $: console.log(leafLength)
  
  // Create paths for the leaves. Because we want two different colors
  // there must be two different paths.
  let pathOfelectricity= [];
  let pathOfGas = [];

  // A scale is needed for the denseness of the leaf
  const leafLinearScale = scaleLinear().domain([0, maxEnergyConsumption]).range([0, 100]);


//核心函数
// pathOfelectricity : elpath
// pathOfGas : gasPath
  // First the elPath for electricity usage. Should be on top of the leaf.
  // -1 in the y direction to avoid covering the line in the center of the leaf
  // thick_ness=denseness
  pathOfelectricity+= `M${x1} ${y1 - 1} `;
  datapoints.forEach((d, i) => {
    let denseness = leafLinearScale(d.total_electrity);
    if (datapoints[0].week % 2 === 0) {
      pathOfelectricity+= `L${x1 + lengthOfLeafGenerator(i)} ${
        y1 - denseness - heightOfLeafGenerator(i) -1
      } `;
    } else {
      pathOfelectricity+= `L${x1 - lengthOfLeafGenerator(i)} ${
        y1 - denseness - heightOfLeafGenerator(i) - 1
      } `;
    }
  });
  pathOfelectricity+= `L${x2} ${y2 - 1}`;

  // Then for the gasPath usage. Should be below the leaf.
  // +1 in the y-direction to avoid covering the line
  pathOfGas += `M${x1} ${y1 + 1} `;
  datapoints.forEach((d, i) => {
    let denseness = leafLinearScale(d.total_gas);
    if (datapoints[0].week % 2 === 0) {
      pathOfGas += `L${x1 + lengthOfLeafGenerator(i)} ${
        y1 + denseness - heightOfLeafGenerator(i) + 1
      } `;
    } else {
      pathOfGas += `L${x1 - lengthOfLeafGenerator(i)} ${
        y1 + denseness - heightOfLeafGenerator(i) + 1
      } `;
    }
  });
  pathOfGas += `L${x2} ${y2 + 1}`;

  console.log(pathOfGas)
  console.log(pathOfelectricity)
</script>

<svg>
  <!-- 
    y1: subtract 50 to get up from the bottom. Do week-48 so that the 
        bottom leaf ends up at exactly 50. Multiply by 75, because we
        want to go 75 up for each leaf
   -->
  <line {x1} {x2} {y1} {y2} style="stroke:black" />
  <path d={pathOfelectricity} fill="#1790FF" />
  <path d={pathOfGas} fill="#FFA634" />
</svg>
