<!--MAIN FILE FOR LEAF PLOT-->
<script>
  import { max } from "d3-array";
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Leaf from "./_design_3_leaf.svelte";

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Load data and get a list of all weeks
  // change the data to datapoints
  // maxData_point = TheLengthOfDataWithWeek48 ;
  let datapoints = null;
  let weeks = [];
  let TheLengthOfDataWithWeek48 = [];
  let maxEnergyConsumption = [];
  onMount(async () => {
    datapoints = await json("/data/hourly_electricity_vs_gas_december.json");
    // Get a list of the weeks, should have length 5 here
    datapoints.forEach((d) => {
      if (!weeks.includes(d.week)) {
        weeks.push(d.week);
      }
      let maxElectricityUsage = max(datapoints, (d) => d.total_electrity);
    let maxGasUsage = max(datapoints, (d) => d.total_gas);
    maxEnergyConsumption = Math.max(maxElectricityUsage, maxGasUsage);
    TheLengthOfDataWithWeek48 = datapoints.filter((d) => d.week == 48).length;
    });
  });
  $: console.log(weeks)
  $: console.log(datapoints)
  $: console.log(TheLengthOfDataWithWeek48) //168
  $: console.log(maxEnergyConsumption)

//city: "Chicago"
//day: 1
//hour: 0
//total_electrity: 224.2832718071
//total_gas: 2.19002542458
//week: 48
//_id: "visual4/2238590"
//_key: "2238590"
//_rev: "_eD9P8lC---"
  



    

</script>

{#if datapoints}
  <svg {width} {height}>
    <!--Text-->
    <text x="80" y="550" style="font-size:20">Baltimore (December 2014)</text>
    <text x="20" y="60" style="fill:#1790FF">Electricity usage</text>
    <text x="20" y="80" style="fill:#FFBA28">Gas usage</text>

    
      <!--2 line and words are created-->
<g>
      {#each weeks as week}
        <Leaf
          datapoints={datapoints.filter((d) => d.week == week)}
          {height}
          {innerWidth}
          {innerHeight}
          {TheLengthOfDataWithWeek48}
          {maxEnergyConsumption} 
        />
      {/each}

      <line
        x1={innerWidth / 2}
        x2={innerWidth / 2}
       
        y1={innerHeight}
        y2={100}
        style="stroke:black;"
      />

      <text x="220" y="95">Week</text>
      <text x="400" y="520">Week 1</text>
      <text x="80" y="450">Week 2</text>


    </g>
  </svg>
{:else}
  <p>Loading data...</p>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
