<!--MAIN FILE FOR CIRCULAR PLOT-->
<script>
  import { json } from "d3-fetch";
  import { max } from "d3-array";
  import { onMount } from "svelte";
  import CustomCircle from "./_design_2_cusotomcircle.svelte";

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Variable to send to CustomCircle. maxUsage is either
  
  let maxUsage = [];

  // Load data
  let data = null;
  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
    // maxHeating= maxHeatingEnergy
    let maxHeatingEnergy = max(data, (d) => d.heating);
    let maxCoolingEnergy = max(data, (d) => d.cooling);
    let heatingPoints=(d) => d.heating;
    let coolingPoints=(d) => d.cooling;
    coolingPoints=coolingPoints;
    heatingPoints=heatingPoints;
    //max_size =maxUsage
    maxUsage = Math.max(maxCoolingEnergy, maxHeatingEnergy);
  });
$: console.log(data)
$: console.log(maxUsage)
//$: console.log(heatingPoints)
//$: console.log(coolingPoints)
  
</script>

<svg {width} {height}>
  <text x="230" y="100">dddd</text>
  <g transform="translate({margin.left}, {margin.top})">
    
    {#if !data}
      <text x="230" y="100">Loading data...</text>
    {:else}
      <text x="0" y="7" fill="red" style="font-size:15px">Heating</text>
      <text x="0" y="20" fill="blue" style="font-size:15px">Cooling</text>


      <CustomCircle
      {width}
        {height}
       {maxUsage}
        {innerHeight}
        {innerWidth}
        data={data.filter((d) => d.city == "Chicago")}
      />
   
      <CustomCircle
      {width}
        {height}
        {maxUsage}
        {innerHeight}
        {innerWidth}
        data={data.filter((d) => d.city == "Baltimore")}
      />
      <CustomCircle
      {width}
        {height}
        {maxUsage}
        {innerHeight}
        {innerWidth}
        data={data.filter((d) => d.city == "Los Angeles")}
      />
    {/if}
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
