<!-- MAIN FILE FOR LINE PLOT -->
<script>
  import { onMount } from "svelte";
  import { json } from "d3-fetch";
  import Controls from "./_design_1_controls.svelte";
  import CustomLine from "./_design_1_customline.svelte";
  import { max } from "d3-array";

  // Size and margins
  const width = 800;
  const height = 350;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // For communication between controls and plot. Used to bind choices to.
  // cityparent= cityDefault
  //  scalingDefault = scaling_default
  let cityDefault = "Los Angeles";
  let scalingDefault = "per line";

  // load data and find all buildingtypes and the maximum heating energy used
  // datapoints=data
  //buildingTypes=TypesOfBuilding
  let datapoints = [];
  let TypesOfBuilding = [];
  //let maxHeatingEnergy = 0;
  onMount(async () => {
    datapoints = await json("/data/hourly_heating_december.json");
    datapoints.forEach((d) => {
      if (!TypesOfBuilding.includes(d.buildingtype)) {
        TypesOfBuilding.push(d.buildingtype);
      }
      
    });
   

    //maxHeatingEnergy = max(
    //  datapoints.filter((d) => d.city == cityDefault),
    //  (d) => d.total_heating_energy
  //  );
  });
 $: console.log(datapoints)
 $: console.log(TypesOfBuilding)

//buildingtype: "FullServiceRestaurant"
//city: "Baltimore"
//day: 1
//hour: 0
//total_heating_energy: 57.0949444206
//[[Prototype]]: Object

  $: maxHeatingEnergyUsage = datapoints
    ? max(
        datapoints.filter((d) => d.city == cityDefault),
        (d) => d.total_heating_energy
      )
    : 0;

    const findTheMaxEnergy_usage_heating = () => {
      let maxHeatingEnergyGenerator = 0;
    if (!datapoints) {
      maxHeatingEnergyGenerator=0;
    } else {
      max(
        datapoints.filter((d) => d.city == cityDefault),
        (d) => d.total_heating_energy
      )
    } 
    return maxHeatingEnergyGenerator;
  };

//  $: maxHeatingEnergyUsage =  findTheMaxEnergy_usage_heating();
</script>

{#if datapoints}
  <div>
  
    <Controls bind:city={cityDefault} bind:scale={scalingDefault} />
    <svg {width} {height}>
      <g transform="translate({margin.left}, {margin.top})">
        {#each TypesOfBuilding as BT, index}
          <CustomLine
            {BT}
            {innerWidth}
            {height}
            {index}
            datapoints={datapoints.filter(
              (d) => d.city == cityDefault && d.buildingtype == BT
            )}
            {maxHeatingEnergyUsage}
            scale={scalingDefault}
          />
        {/each}
        <text x={20} y={innerHeight} style="font-size:10">December 1st</text>
        <text x={innerWidth - 140} y={innerHeight} style="font-size:10">December 31st</text>
      </g>
    </svg>
  </div>
{:else}
  <text x={width / 2 - 60} y={height / 2}>Loading data...</text>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
