<script>
	let current = '';
</script>
<style>

button.btn-secondary {
		background-color: #6200ff;
		color: rgb(236, 16, 16);
	}
</style>

<button class:btn-secondary={current=="messi"} on:click={() => (current = "messi")}>
	Messi
  </button>
  
  <button class:btn-secondary={current=="ronaldo"} on:click={() => (current = "ronaldo")}>
	Ronaldo
  </button>
  
  <button class:btn-secondary={current=="neymar"} on:click={() => (current = "neymar")}>
	Neymar
  </button>
  
