<script>
  // Properties

  export let control = null;
  const continents = ["all", "europe", "asia", "americas", "africa"];
  let Start = true;
  $: text = 'Start';
 
  let interval;

  function StartAndStop() {
    if(Start==true) {
      
      Start = false;
      text = 'Stop';
      interval = setInterval(setinter, 120);
      function setinter() {
        if(control.year < 2016)
          control.year += 1;
        else
          control.year = 1800;
      }
    } else {
      Start = true;
      text = 'Start';
      clearInterval(interval);
    }
  }


  function reset() {
    clearInterval(interval);
    control.year = 1800;
  }
</script>

<div class="row">
  <div class="col-4">
    <button type="button" class="btn btn-primary" on:click={StartAndStop}>{text}</button>
    <button type="button" class="btn btn-primary" on:click={reset}>Reset</button>
  </div>
  <div class="col-5">
    <label class="form-label col-sm-10">Year: {control.year}
      <input type="range" class="form-range" min={1800} max={2016} step="1" bind:value={control.year}>
    </label>
  </div>
  <div class="col-3">
    <select id="continent-select" class="form-select" bind:value={control.continent}>
      {#each continents as continents}
        <option value={continents}>{continents}</option>
      {/each}
    </select>
  </div>
</div>
