<script>
  import { extent } from "d3-array";
  import { select } from "d3-selection";
  import { scaleLinear } from "d3-scale";
  import { axisBottom, axisLeft } from "d3-axis";
  import { brush, brushSelection } from "d3-brush";
  // Properties
  export let data = [];
  export let x = (d) => d.x;
  export let y = (d) => d.y;
  export let xLabel = "x";
  export let yLabel = "y";

   // 1. Define two component properties in _ex_4_scatter.svelte. 
   // One that stores an array of boolean values indicating which points are selected in both scatter plots and one that stores a similar array for the points selected in just the local component
  export let selectedCars = null;
  export let commonSelected  = null;

  // Dimensions
  const width = 400;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 35, left: 45 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Scales
  const xScale = scaleLinear().domain(extent(data, x)).range([0, innerWidth]);
  const yScale = scaleLinear().domain(extent(data, y)).range([innerHeight, 0]);

  // Axes
  const xAxis = (node) => axisBottom(xScale)(select(node));
  const yAxis = (node) => axisLeft(yScale)(select(node));

  // Circle properties
  const selectedColor = 'steelblue';
  const selectedFillOpacity = '0.5';
  const selectedStrokeOpacity = 1;
  const unSelectedColor = 'darkgray';
  const unSelectedFillOpacity = '0.3';
  const unSelectedStrokeOpacity = '0.5';

  // Brushing
  // The range of the selection rectangle.
  // If there is no active selection, it contains: null,
  // otherwise, it contains: [ [x0, y0], [x1, y1] ]

  // 1. Store data coord in a variable coord
  const coords = [];
  data.forEach((data) => {
    coords.push({ x: xScale(x(data)), 
      y: yScale(y(data)),
      color: selectedColor,
      fillOpacity: selectedFillOpacity,
      strokeOpacity: selectedStrokeOpacity
 });
  });

  // This function is used for getting the range we selected
  let range = null;
  const getRange = ({ selection }) => {
    range = selection;
  };

  
   //  This function is for the brushing
   //3. Configure a d3-brush so that the selection 
   //property of the argument it passes to your callbacks is written to our range variable when the brush starts,
   // moves, and ends.


  const BrushFunction = brush().on("end", getRange)  
      .on("start",  getRange)
       .on("brush",  getRange);
 
  let CreatedBind;
  $: select(CreatedBind).call(BrushFunction);

  //   // UPDATED 5. reactively update the values of the local selection such that all data points are set to true
   //Use the range and coords variable to reactively update the values of the local selection
          // such that all data points are set to true if there is no active selection and only the points that lie
          // within the rectangle are set to true when there is an active selection.

          // // 0,0 = left (from left)
    // 0,1 = top (from top)
    // 1,0 = right (from left)
    // 1,1 = bottom (from top)

  const updateselectedCars = (selectedRange) => {
    selectedCars.forEach((element, i) => {
      if (selectedRange == null) {
        selectedCars[i] = true;
      } else {
        
        if (
          coords[i].x > selectedRange[0][0] &&
          coords[i].x< selectedRange[1][0] &&
          coords[i].y >selectedRange[0][1] &&
          coords[i].y< selectedRange[1][1]
        ) {
          // If the point is within the selected area
         
          selectedCars[i] = true;
        } else {
          selectedCars[i] = false;
        }
      }
    });
  };
  // select the data point
 //make the points in the rectangle can be chosen 
 if (selectedCars.length == 0) {
    data.forEach((data) => {
      selectedCars.push(true);
    });
  }

  $: updateselectedCars(range);

  //stroke 笔锋
</script>

<svg viewBox="0 0 {width} {height}" class="mx-2" style="max-width: {width}px">
  <g transform="translate({margin.left},{margin.top})">
    <g bind:this={CreatedBind}>
      {#each data as d, i}
      {#if selectedCars == null || selectedCars[i] }
        <circle
          cx={coords[i].x}
          cy={coords[i].y} 
          r={3}
          fill="steelblue"
          fill-opacity="0.5"
          stroke="steelblue"
          stroke-width="1.5"
          stroke-opacity="1"
          
        />
        {:else}
        <circle
          cx={coords[i].x}
          cy={coords[i].y}
          r={3}
          fill="darkgray"
          fill-opacity="0.3"
          stroke="darkgray"
          stroke-width="1.5"
          stroke-opacity="0.5"
          class:notSelected={!commonSelected[i]}
        />

        {/if}
      {/each}
    </g>

    
    <g use:xAxis transform="translate(0, {innerHeight})">
      <text class="axisLabel" x={innerWidth / 2} y={margin.bottom - 5}
        >{xLabel}</text>
    </g>

    <g use:yAxis>
      <text
        class="axisLabel"
        y={-margin.left + 10}
        x={-innerHeight / 2}
        transform="rotate(-90)">{yLabel}</text
      >
    </g>

  </g>
</svg>

<style>
  .axisLabel {
    text-anchor: middle;
    vertical-align: bottom;
    fill: currentcolor;
  }
  circle.notSelected {
    stroke: darkgray;
    fill: darkgray;
    fill-opacity: 0.3;
    stroke-opacity: 0.5;
  }
</style>
