<script>
	import { writable } from 'svelte/store';

function createCount() {
	const { subscribe, set, update } = writable(0);

	return {
		subscribe,
		increment: () => update(n => n + 1),
		decrement: () => update(n => n - 1),
		reset: () => set(0)
	};
}
$: count = createCount();
</script>



<button class="btn btn-primary"  on:click={count.increment}>The count is {$count}</button>
<button class="btn btn-danger" on:click={count.reset}>reset</button>