<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  const IID = () => (index -= 1);
  const CI = setInterval(IID, 1000);


  $: 
	if (index < 0) { clearInterval(CI);}
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
   
	{#each points as pt, i}
		{#if (index<0)}
      <circle
		fill="darkgreen"
    opacity= 1
        cx={pt}
        r="10"
        cy="40"
      />

	{:else if i>=index}
		    <circle
		    fill="red"
    opacity=1
        cx={pt}
        r="10"
        cy="40"
      />
		
		{:else} 
		 <circle
					fill="green"
    opacity= 1
		   
        cx={pt}
        r="10"
        cy="40"
      />
		{/if}
		
    {/each}
  </g>
</svg>
