
  <script>
    import { json } from "d3-fetch";
    import { onMount } from "svelte";
  
    import Controls from "./_ex_3_controls.svelte";
    import Scatterplot from "./_ex_3_scatterplot.svelte";
  
    // Load the data
    $: data = null;
    $: control = {year: 1800, continent: 'all'};
    $: NonnullData = [];
    onMount(async () => {
      data = await json("/data/gapminder.json");
    });
  
   function extractData () {
      if(!data)
      return true;
      NonnullData = data[control.year - 1800].countries.filter(choosecontinent).filter(d => d.income && d.life_exp)
      function choosecontinent (country) {
        if(control.continent == 'all')
        return true;
        return country.continent == control.continent;
      }
    
    }
   $:extractData(control)
   
  </script>
  
  {#if !data}
    <p>Loading the data, please wait...</p>
  {:else}
    <div>
      <Scatterplot data={NonnullData} />
      <Controls {data} bind:control={control} />
    </div>
  {/if}
  
  
  