<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };
// Brushinf variable
  let selectedCars1 = [];
  let selectedCars2 = [];
// calculte both selection
  $: commonSelected = selectedCars1.map(
    (element, i) => element && selectedCars2[i]
  );
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else} 
  <Scatter
    {data}
    {commonSelected}
    {...s1}
    bind:selectedCars={selectedCars1}
  />
  <Scatter
    {data}
    {commonSelected}
    {...s2}
    bind:selectedCars={selectedCars2}
  />
  {/if}
  
