<script>
  import { select } from 'd3-selection';
  import { axisBottom, axisLeft } from 'd3-axis';
  import { schemeCategory10 } from 'd3-scale-chromatic';
  import { extent } from 'd3-array';
  import { scaleOrdinal, scaleLinear, scaleLog } from 'd3-scale';
  export let data;
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  let gapminderdata = data.filter(d => d.life_exp != null &&d.income != null );
  const scaleX = scaleLog().domain([300, 20000]).range([0, innerWidth]);
  const scaleY = scaleLinear().domain([0, 90]).range([innerHeight, 0]);
  const color_continent = scaleOrdinal().domain(extent(gapminderdata,(country) => country.continent)).range(schemeCategory10);
  const radius_scale = scaleLog().domain(extent(gapminderdata, (country) => country.population)).range([4,15]);
  function ylabel(y) {axisLeft(scaleY)(select(y))}
  function xlabel(x) {axisBottom(scaleX).tickValues([400,4000])(select(x))};
</script>
<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})" >
    {#each gapminderdata as value}
      <circle cx={scaleX(value.income)} cy={scaleY(value.life_exp)} r={radius_scale(value.population)} fill={color_continent(value.continent)} style="opacity:0.6"></circle>
    {/each}
      <text fill="currentColor" x={innerWidth / 4} y="80" font-size= "2.24em" >Gapminder Scatterplot</text>
      <text fill="currentColor" x={innerWidth / 2 -20} y={innerHeight + 30} >GDP per Capita</text>
      <text fill="currentColor" x={innerWidth - 80} y={innerHeight - 10} style="opacity:0.6" font-size= "2.24em"  >1800</text>
  </g>
	<g transform="translate({margin.left}, {margin.top})" use:ylabel>
		<text fill="currentColor" y={0 - (margin.left / 2) - margin.right} x={0 - (innerHeight / 2)} transform={`rotate(270)`}>Life Expectancy</text>
</g>
<g transform="translate({margin.left}, {height-55})" use:xlabel >
</g>
</svg>

