<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
import { scaleLog } from 'd3-scale'; 
const scale = scaleLog().domain([1,10]).range([0,innerWidth])
import {axisBottom} from 'd3-axis';
import{select} from 'd3-selection';
function xlabel(x) {axisBottom(scale)(select(x))};


</script>
<style>
svg {
background-color: whitesmoke;
}
circle {
fill: steelblue;
}
text{
font-size:"10";
fill:'currentColor';
text-anchor:'middle'
}
</style>

<svg viewBox="0 0 {width} {height}" >
<text x={width/2} y='80' text-anchor='middle'>x lable</text>
<g transform="translate({margin.left},{margin.top})"  >  
{#each values as value}
 <circle cx={scale(value)} cy=45 r=25  />;
 {/each}   
</g> 
<g transform ="translate({margin.left},{height-20})" use:xlabel>
</g>
</svg>