<script>
  import { scaleLinear } from 'd3-scale';
  import {axisBottom} from 'd3-axis';
  import { scaleOrdinal } from 'd3-scale';
  import { select } from 'd3-selection';
	import {scaleBand} from 'd3-scale';
	import {axisLeft} from 'd3-axis';

  
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };//layout 
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  const d=data.service;
	const scaleX = scaleBand().domain(data.map(d => d.service)).range([0,innerWidth]).padding(0.2)//x-axis
  const scaleYaxis = scaleLinear().domain([3,0]).range([-innerHeight,0])
  function xlabel(x) {axisBottom(scaleX)(select(x))};
	function ylabel(y) {axisLeft(scaleYaxis)(select(y))}
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <!--  -->
		
{#each data as value}
			
    <rect x={scaleX(value.service)} y={innerHeight+scaleYaxis(value.viewers)-10} width="68" height={(value.viewers)/3*innerHeight} fill="steelblue"  
   />

    {/each}
		
  </g>
	
	<g transform ="translate({margin.left},{innerHeight})" use:xlabel>
</g>
	<g transform ="translate({margin.left},{innerHeight})" use:ylabel>
		<text fill="currentColor" x=200 y=-30 transform={`rotate(270)`}>Viewers (Million)</text>
</g>
	
</svg>