<script>
    import Scatterplot from './_ex_7_scatterplot.svelte';
    import { json } from 'd3-fetch';
    import { onMount } from 'svelte';
  
    let data = null;
    let gapminderdata = null;
    onMount(async () => {
      gapminderdata = await json('../data/gapminder.json');
      data = gapminderdata.find(d => d.year === '1800').countries
    });
  </script>
  {#if data}
    <Scatterplot data={data}/>
  {:else}
  <text >Data is still loading</text>
  {/if}
  

 
  